<header class="header">
  <mat-toolbar class="toolbar">
    <button mat-icon-button routerLink="../">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
  </mat-toolbar>
</header>

<form class="form" [formGroup]="formGroup">
  <div class="form__item">
    <mat-form-field appearance="standard">
      <mat-label>Account Name</mat-label>
      <input matInput
             formControlName="accountName">
    </mat-form-field>
  </div>

  <div class="form__item">
    <mat-form-field appearance="standard">
      <mat-label>Access Token</mat-label>
      <input type="text"
             matInput
             formControlName="accessToken">
    </mat-form-field>
  </div>
</form>

<footer class="footer">
  <button class="footer__button"
          mat-flat-button
          color="accent"
          (click)="save()">Save</button>
</footer>
